.navtop {
  width: 100%;
  height: 100px;
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
  position: fixed;
  top: 0;
  left:0;

}

.btn-side-nav {
  width: 90px;
  height: 100px;
  background-color: rgb(90, 82, 74);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  background-image: url("pic/puppy.jpg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.navtop ul {
  display: flex;
  flex-wrap: wrap;
  padding: 15px:

}

.navtop ul li{
    list-style: none;
    line height: 60px;
  }

  .navtop ul li a {
    display: block;
    height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    color: #222:
    font-family: arial;
    font-size: 30px;
    padding: 15px 10px;
  }
.nav_sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: orange;
  width: 80px;
  padding: 0 5px;
  height: calc(100vh - 100px);
  z-index: 1000;
}

.nav_sidebar ul{
  padding-top: 15 px;
  overflow: hidden;
  visibility: hidden;
}


.nav_sidebar ul li{
  line-height: 60px;
  list-style: none; 

}

.nav_sidebar ul li span, .nav_sidebar ul li a {
  display: block;
  height: 60px;
  padding: 0 60;
  text-decoration: none;
  text-transform: uppercase;
  font-family: arial;
  font-size: 16px;
  white-space: nowrap;
  opacity: 0;
}

.nav_sidebar ul li a:hover {
  background-color: #222;
}