<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <title>Dashboard</title>
</head>
<body>
  <h1>Dashboard</h1>
  <p>Edit your database's items easily!</p>

  <div class="center2">
    <button class="button-btn save">Save</button>
  </div>
  <div id="editor" style="height: 500px;"></div>

  <div class="card card-error">
    <div class="err message"></div>
  </div>

  <div class="card card-success">
    <div class="message">Success!</div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/theme-dracula.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-json.min.js"></script>

  <script src="/ace.js"></script>
</body>
</html>