<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <title>JSON STORE2</title>
</head>
<body>
  <h1>Json Store 2</h1>
  <p>Store your data reliably using unreliable sources.</p>

  <div class="json-store">
    <span class="curr-url"></span>db/<span class="id">loading...</span>
  </div>

  <div class="center">
    <a class="dash btn">Dashboard</a>
    <a href="/usage" class="btn">Usage</a>
  </div>

  <h2>About</h2>
  <p>This is a small database project created by Coder100 in the hopes that it would make it easier for people to create small projects and games that require a database, just like what JsonStore did!</p>

  <script src="gen-tok.js"></script>
</body>
</html>