<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Dad's Birthday Card</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎊</text></svg>">
    <link href="static/css/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div id="ex1" class="container">
      <div id="ex1-layer" class="box"><pre>{% for space in range(112) %} {% endfor %}<span class="month">November 3, 2021</span><br>{% for space in range(20) %} {% endfor %}Dear Daddy,<br><br><br>{% for space in range(8) %} {% endfor %}<span class="special"></span></pre><div class="divider"></div></div>
    </div>
    <script src="static/js/script.js"></script>
  </body>
</html>