#lightgray-container {
  background-color: lightgray;
  margin-left: var( --margin-width);
  margin-right: var( --margin-width);
  padding: 5px;
  border-radius: 10px;
}

#lightgray-container:hover {
  background-color: rgb(191, 191, 191);
}

#tribute-info {
  background-color: hsl(0, 0%, 70%);
  margin-right: var( --margin-width);
  margin-left: var( --margin-width);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

#tribute-info:hover {
  background-color: rgb(153, 153, 153);
}


#tribute-achievements {
  background-color: hsl(0, 0%, 70%);
  margin: 25px var( --margin-width) 25px var( --margin-width);
  list-style-position: inside;
  padding: 10px;  
  border-radius: 10px;
}

#tribute-achievements:hover {
  background-color: rgb(153, 153, 153);
}

#learn-more {
  background-color: #95a3a6;
  margin-right: var( --margin-width);
  margin-left: var( --margin-width);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

#learn-more:hover {
  background-color: rgb(130, 147, 151);
}

#img-div {
  background-color:hsl(60, 59%, 80%);
  color: hsl(60, 1%, 45%);
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 25px var( --margin-width) 25px var( --margin-width);
  border-radius: 10px;
}

#foot {
  background-color:#95a3a6;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px var( --margin-width) 0px var( --margin-width);
  border-radius: 10px;
}

#foot:hover {
  background-color: rgb(130, 147, 151);
}

#img-div:hover { 
  background-color:hsl(60, 59%, 75%);
  color: hsl(60, 1%, 30%);
}
