*
{
  user-select: none;
  border-radius: 5px;
  box-sizing: border-box;
}

:root
{
  --txt-color: #000;
  --txt-colorn: #FFF;
  --ui-color: rgb(207, 211, 214);
  --primary-color: #e3ecf0;
  --secondary-color: #EFEFEF;
  --hover: rgb(183, 183, 183);
  --outline: #1e1c1c;
}

@media (prefers-color-scheme:dark)
{

  :root
  {
    --txt-color: #FFF;
    --txt-colorn: #000;
    --ui-color: rgb(28, 40, 51);
    --primary-color: #161d20;
    --secondary-color: #161F27;
    --hover: #d7dce7;
    --outline: #124352;
  }
}

#app
{
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 3.3fr 7.7fr;
  grid-template-rows: 0.2fr 2.6fr 0.2fr;
  gap: 2px 2px;
  grid-template-areas: "Header1 Header2"
    "Rooms Chat"
    "Rooms MessageBox";
}

#Rooms
{
  overflow: scroll;
  grid-area: Rooms;
  transition: 0.2s;
}

#Chat
{
  overflow: hidden;
  grid-area: Chat;
  transition: 0.2s;
}

#MessageBox
{
  grid-area: MessageBox;
  transition: 0.2s;
}

#Header1
{
  grid-area: Header1;
  transition: 0.2s;
}

#Header2
{
  grid-area: Header2;
  transition: 0.2s;
}

#Rooms:hover
{
  box-shadow: 0 14px 28px rgba(0 0 0 / 25%);
  transition: 0.3s;
}

#Chat:hover
{
  box-shadow: 0 14px 28px rgba(0 0 0 / 25%);
  transition: 0.3s;
}

#MessageBox:hover
{
  box-shadow: 0 14px 28px rgba(0 0 0 / 25%);
  transition: 0.3s;
}

#Header1:hover
{
  box-shadow: 0 14px 28px rgba(0 0 0 / 25%);
  transition: 0.3s;
}

#Header2:hover
{
  box-shadow: 0 14px 28px rgba(0 0 0 / 25%);
  transition: 0.3s;
}

#app,body,html
{
  color: var(--txt-color);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
}

#message
{
  width: 100%;
  height: 100%;
  padding-left: 5px;
  margin: 0;
}

.room
{
  border-radius: 0;
  transition: .3s;
  width: 100%;
  background: var(--secondary-color);
  height: 50px;
  padding: 5px;
  color: var(--txt-color);
}

.room>*:nth-child(1)
{
  float: left;
}

.room>*:nth-child(2)
{
  float: right;
}

.room>*:nth-child(4)
{
  color: rgb(84, 101, 255);
}

.room>*:nth-child(5)
{
  display: none;
}

.room + .room
{
  border-bottom: 1px solid var(--txt-color);
}

.room:nth-child(1)
{
  border-bottom: 1px solid var(--txt-color);
  border-top-right-radius: 5px;
}

.room:nth-last-child(2)
{
  border: 0;
  border-bottom-right-radius: 5px;
}

.room:hover
{
  transition: .3s;
  background: var(--hover);
}

#RoomButtons>*:nth-child(1)
{
  float: left;
}

#RoomButtons>*:nth-child(2)
{
  float: right;
}

#RoomButtons
{
  padding: 3px;
  color: rgb(84, 101, 255);
}
#chatmsgs
{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

ul li
{
  display: inline-block;
  clear: both;
  padding: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 30px;
  margin-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
}

.msg-them
{
  background: var(--ui-color);
  float: left;
}

.msg-you
{
  float: right;
  background: #0084ff;
  color: #fff;
}

.msg-them + .msg-you
{
  border-bottom-right-radius: 5px;
}

.msg-you + .msg-you
{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.msg-you:last-of-type
{
  border-bottom-right-radius: 30px;
}
.msg-you + .msg-them
{
  border-bottom-left-radius: 5px;
}

.msg-them + .msg-them
{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.msg-them:last-of-type
{
  border-bottom-left-radius: 30px;
}

.msg-you>a
{
  color: var(--outline);
}