<html>
    <head>
        <title>VolunHours</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/styles.css">
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </head>
    
    <body>
       <div class="sidebar">
           <div><ion-icon class="clockicon" name="time-outline" style="margin-bottom:10px;"></ion-icon> <span class="text">VolunHours</span></div>
           <a class="sidelink active" href="/"><ion-icon name="home-outline" style="font-size: 1.5rem;margin-bottom: 5px;"></ion-icon> Home</a>
           <a class="sidelink" href="/log"><ion-icon name="log-in-outline" style="font-size: 1.5rem;margin-bottom: 5px;"></ion-icon> Log Hours</a>
           <a class="sidelink" href="/hours"><ion-icon name="stats-chart-outline" style="font-size: 1.5rem;margin-bottom: 5px;"></ion-icon> Previous Hours</a>
           <a class="sidelink" href="/admin"><ion-icon name="people-outline" style="font-size: 1.5rem;margin-bottom: 5px;"></ion-icon> Admin Panel</a>
           <a class="sidelink" href="/summary"><ion-icon name="list-circle-outline" style="font-size: 1.5rem;margin-bottom: 5px;"></ion-icon> Summary</a>
       </div>

        <main>
            <div class="container">
            <div class="card">
                <ion-icon name="time-outline" style="font-size: 3rem;margin-top: 20px;"></ion-icon>
                <br>
                <h2>{{ today }} Log(s) today</h2>
            </div>
                <div class="card">
                <ion-icon name="stats-chart-outline" style="font-size: 3rem;margin-top: 20px;"></ion-icon>
                <br>
                <h2>{{ week }} Log(s) this week</h2>
            </div>
                <div class="card">
                <ion-icon name="people-outline" style="font-size: 3rem;margin-top: 20px;"></ion-icon>
                <br>
                <h2>{{ org }} Log(s) today @ Mathlings</h2>
            </div>
            </div>
            <br><br>
            <div class="container" style="align-items: center;">
            <img height="400px" src="https://ouch-cdn2.icons8.com/fAcjuuTtDhESkwaVysMK1MaXuyvmI19NgWcNQEUbiA8/rs:fit:912:912/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvMTQ4/LzEzODc0Zjc0LTlk/NTYtNDk4ZS1iMzgy/LTU2YjYyZDAyMmJl/NS5zdmc.png" />
            <button class="btn" style="scale: 1.3;">Log Hours</button>
            </div>
        </main>
    </body>
</html>