<html>
    <head>
        <title>VolunHours</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/styles.css">
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </head>
    
    <body class="login_body">
       <div class="middle_card">
           {% if error %}
            <h3 style="border-radius: 8px; padding: 10px; background: #a43232; color: white; text-align: center;">{{ error }}</h3>
           {% endif %}
           <h1 style="text-align: center;">Login</h1>
            <form method="post" action="/login">
           <input type="email" placeholder="Email" name="email" />
           <input type="password" placeholder="Password" name="password" />
           <button class="btn" >Login</button>
            </form>

           <a style="display: flex; gap: 5px; font-size: 1.5rem;" href="/signup">Don't have an account? Sign up <div style="color: lightblue">here</div></a>
       </div>
    </body>
</html>