<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Crazy Kingdom</title>
    <link rel="shortcut icon" href="/static/img/favicon.png/"/>
    <link href="static/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous"/>
  </head>
  <body>
    <center>
      <br>
      <h2>Crazy Kingdom</h2>
      <hr style="color:blue; height:5px; border-radius:5px; width:600px;">
      <img src="/static/img/castle.png" width="800" height="800">
      <p>You own a huge kingdom in the planet Cybertron, and are trying to expand and dominate the whole planet, which has all sorts of creatures. From aliens to werewolves, you need to try to sustain your kingdom as long as possible. In order to sustain your kingdom as long as possible, you need to keep all of your four attributes (materials, people, popularity, and gold) plentiful. The maximum of each attribute is 100. If any of these four attributes reaches zero, then that is the end of your kingdom on the planet Cybertron. Each creature will come up to you and ask a request. You can either answer 'Yes' or 'No'. Your choice can either gain you materials, people, popularity, and gold, lose you materials, people, popularity, and gold, or they can gain and lose materials at the same time.</p>
      <p>Good luck and have fun with you and your kingdom on Cybertron!</p>
      <a href="/play"><button class="btn btn-outline-primary">Play!</button></a>
    </center>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.min.js"></script>
  </body>
</html>